<html>
	<head>
		<title>Liuda's Django Girls blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Django Girls Blog</a></h1>
		</div>

		<div>
			<p>published: 19.12.2015, 14:57</p>
			<h2><a href="">My first post</a></h2>
			<p>Django Girls is a non-profit organization that empowers and helps women to organize free, one-day programming workshops by providing tools, resources and support.</p>

		</div>

		<div>
			<p>published: 19.12.2015, 15:00</p>
			<h2><a href="">My second post</a></p>
			<p>Our goal is to bring more amazing women into the world of technology and increase the diversity in the Django community. </p>
		</div>
	</body>
</html>